# Compiled python
*.pyc
.pytest_cache

# Compiled CSS
digiweb/static/css

# Visual Studio
.vs
*.pyproj
*.pyproj.user
*.sln

# Visual Studio Code
.vscode
*.code-workspace
/digiweb/static/.webassets-cache/
