<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DigiDuncan | Content Creator</title>

        {% include 'parts/commonstylesheets.html' %}
        
    </head>
    <body>
        {% include 'parts/navbar.html' %}
        <div data-aos="fade-right" class="dd-landing-container">
            <div class="dd-landing">
                <div class="dd-mas-container">
                    <img class="dd-mas" style="user-select: none;" src="static/images/mascot/cutedigi.png"></img>
                </div>
                <h1 class="welcome"><span class="dd-head">Hi!</span> I'm DigiDuncan.</h1>
                <p class="paragraph" style="font-size: 1.5em">I'm a 21-year-old aspiring content creator and programmer from Upstate New York. My passions are in video editing, graphic design, live streaming, and Python coding. I create content on YouTube and Mixer, and work on my projects on GitHub. Take a look around; I have a blog here where I post my thoughts, a catalog of my videos and projects, some info about myself, a place where you can meet some of my friends, and even a way for you to get in touch! Don't forget to check back here often to see what I'm up to lately!</p>
            </div>
        </div>
    </body>

    {% include 'parts/mainscripts.html' %}

</html>
