.dd-landing {
  text-align: right;
  width: 100%;
  color: white;
  position: relative;
}

.dd-mas {
  width: 25%;
  float: left;
  word-wrap: break-word;
  pointer-events: none;
}

.dd-landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    padding: 150px;
    background-color: #202225;
}

.noty_theme__sunset.noty_type__alert, .noty_theme__sunset.noty_type__notification {
  background-color: #38666B !important;
  border-radius: 5px !important;
}

.noty_theme__sunset.noty_type__alert .noty_progressbar, .noty_theme__sunset.noty_type__notification .noty_progressbar {
  border-radius: 5px !important;
  background-color: black !important;
  opacity: .8 !important;
  overflow: hidden !important;
}

body {
  font-family: 'Roobert' !important;
  color: #7E8084 !important;
}

.socials-container {
  float: right;
  padding-top: 5px;
}

.hamburger {
  color: white !important;
}

.social-icon {
  padding-left: 2px;
  padding-right: 2px;
}

.navbar-brand {
    width: 50px;
    height: 50px;
    padding-top: 0 !important;
    padding-left: 0 !important;
    pointer-events: none !important;
}

.nav-link:hover {
    transform: translateY(-5px);
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition: 300ms;
}

.nav-link {
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition: 300ms;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.nav-item:hover .active:hover {
    transform: translateY(0)
}

.hamburger--slider .hamburger-inner::before {
  border-radius: 3px !important;
}

.nav-link {
    border-radius: 2px
}

body {
    background: #343a40!important
}

.navbar {
    background: #191919!important
}

.mixer-icon {
  width: 25px;
  height: 25px;
}

.navbar a {
    color: #fff !important;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 30px!important;
    height: 2px!important;
    border-radius: 3px!important;
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-duration: .3s!important;
    background-color: #fff!important
}

.hamburger-box {
    display: flex!important;
    justify-content: center!important
}

@media (max-width: 576px) {
  .socials-container {
    float: none;
  }
  .dd-landing-container {
    padding: 15px;
  }
  .dd-mas {
    width: 100%;
    float: left;
    pointer-events: none;
  }
  .dd-mas-container {
  width: 100%;
  margin-top: 30px;
  }
  .welcome, .paragraph {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .socials-container {
    text-align: center;
    width: 100%;
  }
}

@media (max-width : 991px) {
  .socials-container {
    text-align: center;
    width: 100%;
  }
}
