.dd-landing {
  text-align: right;
  width: 75%;
  color: white !important;
  position: relative;
  top: -5em;
}

.dd-landing-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

body {
  font-family: 'Roobert' !important;
}

h1.welcome {
    font-size: 400%;
}

.navbar-brand {
    width: 50px;
    height: 50px;
    padding-top: 0 !important;
    padding-left: 0 !important;
    pointer-events: none !important;
}

.nav-link:hover {
    transform: translateY(-5px);
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition: 300ms;
}

.nav-link {
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition: 300ms;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.nav-item:hover .active:hover {
    transform: translateY(0)
}

.hamburger--slider .hamburger-inner::before {
  border-radius: 3px !important;
}

.nav-link {
    border-radius: 2px
}

.card-body {
    background-color: #000!important;
    color: #fff !important;
}

.card .card-body .card-text {
    color: #fff !important;
}

body {
    background: #343a40!important
}

.navbar {
    background: #191919!important
}

.navbar a {
    color: #fff!important
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 30px!important;
    height: 2px!important;
    border-radius: 3px!important;
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-duration: .3s!important;
    background-color: #fff!important
}

.hamburger-box {
    display: flex!important;
    justify-content: center!important
}
