<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DigiDuncan | Under Construction!</title>
    <meta name="description" content="DigiDuncan.com, but, you know, not done.">
    <meta name="author" content="DigiDuncan">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="undercon">
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/3976b8e6c9.js" crossorigin="anonymous"></script>

    <!-- Actual website -->
    <img class="undercon" src="static/images/digiconstruction.png" alt="Under Construction">
    <h1 class="undercon">Under Construction</h1>
    <h2 class="undercon">Just like the rest of my life.</h2>
    <br> <br>
    <center>
    <span style="font-size: 2em; color: white;">
    <a style="color: white;" href="http://www.youtube.com/DigiDuncan"><i class="fab fa-youtube fa-1x"></i></a> <b>|</b> <a style="color: white;" href="http://www.twitter.com/DigiDuncan"><i class="fab fa-twitter fa-1x"></i></a> <b>|</b> <a style="color: white;" href="http://www.github.com/DigiDuncan"><i class="fab fa-github fa-1x"></i></a>
    </span>
    <p class="undercon">Discord: <b>DigiDuncan#4979</b>
</body>
