<!-- jQuery - https://github.com/jquery/jquery/tree/3.4.1 (required by bootstrap) -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper - https://github.com/popperjs/popper-core/tree/v1.14.4 (required by bootstrap) -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>

<!-- Bootstrap - https://github.com/twbs/bootstrap/tree/v4.3.1 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Material Design for Bootstrap - https://github.com/mdbootstrap/bootstrap-material-design/tree/4.8.10 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

<!-- NOTY - https://github.com/needim/noty/tree/v3.1.4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha256-ITwLtH5uF4UlWjZ0mdHOhPwDpLoqxzfFCZXn1wE56Ps=" crossorigin="anonymous"></script>

<!-- Animate on scroll - https://github.com/michalsnik/aos -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<!-- clipboard.js - https://github.com/zenorocha/clipboard.js -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Local scripts -->
<script src="static/js/index.js"></script>

<!-- NOTY - https://github.com/needim/noty/tree/v3.1.4 -->
<script src="https://raw.githack.com/needim/noty/master/lib/noty.js" charset="utf-8"></script>

<!-- mo · js - https://github.com/mojs/mojs -->
<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>

<!-- OverlayScrollbars - https://github.com/KingSora/OverlayScrollbars/tree/v1.9.1 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js" integrity="sha256-rzR7VVyOa7Wrt/l5HRR59pwLXXHvHUjuKpjVt231WfY=" crossorigin="anonymous"></script>